<footer>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- new eapps -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3674422193688841"
     data-ad-slot="5580220287"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



<a href="http://www.freecounterstat.com" title="web counters"><img src="http://counter10.fcs.ovh/private/freecounterstat.php?c=2150d212a23cccb9186ce91130544d70" border="0" title="web counters" alt="web counters"></a>
  <p class="col-md-12 col-sm-12 col-xs-12">
    Copyright &copy; 2016. All Rights Reserved. Developed by
<a href="http://xicigny.com" target="_blank">XiCigny (Pvt) Ltd</a>.
<a href="http://etunes.xyz/net/contact.php" target="_blank"> | Request one for your Event</a>.

<!-- PopAds.net Popunder Code for eappsxyz.herokuapp.com -->
<script type="text/javascript">
  var _pop = _pop || [];
  _pop.push(['siteId', 1085935]);
  _pop.push(['minBid', 0.000000]);
  _pop.push(['popundersPerIP', 0]);
  _pop.push(['delayBetween', 0]);
  _pop.push(['default', false]);
  _pop.push(['defaultPerDay', 0]);
  _pop.push(['topmostLayer', false]);
  (function() {
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    var s = document.getElementsByTagName('script')[0]; 
    pa.src = '//c1.popads.net/pop.js';
    pa.onerror = function() {
      var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
      sa.src = '//c2.popads.net/pop.js';
      s.parentNode.insertBefore(sa, s);
    };
    s.parentNode.insertBefore(pa, s);
  })();
</script>
<!-- PopAds.net Popunder Code End -->

    
    <!-- <%= link_to 'Privacy Policy', privacy_path %> -->
  </p>
</footer>





